<div class="category-wrapper" id="category-wrapper-{{identifier}}">
    <div id="select-wrapper-{{identifier}}" class="select-wrapper {{#if current}}hide{{/if}}">
        <select id="cat-sel-{{identifier}}" class="category-select" name="{{identifier}}"
                {{#if current}}disabled{{/if}}>
            {{#each categories}}
                <option {{#isEqual _id ../current}}selected{{/isEqual}} value="{{_id}}">
                    {{Name}}
                </option>
            {{/each}}
        </select>
        <script>
            function toggleCategories(target) {
                const button = $(target);
                const wrapper = $(`#select-wrapper-${button.data('transaction')}`);
                const select = wrapper.children('.category-select')
                        .first();

                wrapper.toggleClass('hide');
                button.toggleClass('hide');

                if (select.prop('disabled')) {
                    select.prop('disabled', false);
                } else {
                    select.prop('disabled', true);
                }
            }
        </script>
    </div>
    <span class="current-category {{#unless current}}hide{{/unless}}">{{current}}</span>
    <button type="button" class="button button-small {{#unless current}}hide{{/unless}}"
            data-transaction="{{identifier}}" onClick="toggleCategories(this)">
        Edit
    </button>
</div>
