<div class="category-wrapper" id="category-wrapper-{{identifier}}">
    <div id="select-wrapper-{{identifier}}" class="select-wrapper {{#if current}}hide{{/if}}">
        <select id="cat-sel-{{identifier}}" class="category-select" name="{{identifier}}"
                {{#if current}}disabled{{/if}}>
            <option value="" disabled hidden {{#unless current}}selected{{/unless}}>Select a category</option>
            {{> category_select_options items=categories current=current level=0 flat=flat}}
        </select>
        <script>
            $(document).ready(() => {
              $('.category-select')
                      .select2({
                          width: '100%',
                          templateResult: function (data) {
                              if (!data.element) {
                                  return data.text;
                              }

                              const element = $(data.element);
                              const wrapper = $('<span></span>');

                              wrapper.addClass(element[0].className);
                              wrapper.text(data.text);

                              return wrapper;
                          }
                      });
            });

            function toggleCategories(target) {
                const button = $(target);
                const wrapper = $(`#select-wrapper-${button.data('transaction')}`);
                const select = wrapper.children('.category-select')
                        .first();

                wrapper.toggleClass('hide');
                button.toggleClass('hide');

                if (select.prop('disabled')) {
                    select.prop('disabled', false);
                } else {
                    select.prop('disabled', true);
                }
            }
        </script>
    </div>
    <span class="current-category {{#unless current}}hide{{/unless}}">{{current}}</span>
    <button type="button" class="button button-small {{#unless current}}hide{{/unless}}"
            data-transaction="{{identifier}}" onClick="toggleCategories(this)">
        Edit
    </button>
</div>
