{{#each items}}
    {{#if Children}}
        {{#if ../flat}}
            <option class="cat-option level-{{../level}}" {{#isEqual _id ../current}}selected{{/isEqual}} value="{{_id}}">
                {{Name}}
            </option>
            {{> category_select_options items=Children current=../current level=(inc ../level) flat=../flat}}
        {{else}}
            <optgroup class="cat-optgroup level-{{../level}}" label="{{Name}}">
                {{> category_select_options items=Children current=../current level=(inc ../level) flat=../flat}}
            </optgroup>
        {{/if}}
    {{else}}
        <option class="cat-option level-{{../level}}" {{#isEqual _id ../current}}selected{{/isEqual}} value="{{_id}}">
            {{Name}}
        </option>
    {{/if}}
{{/each}}
