<html>
<head>
    <title>Transaction List</title>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
</head>
<body>
<h1>This is a list of imported transactions</h1>

{{#if count}}
    <p class="notification">Imported {{count}} new transactions</p>
{{else}}
    <p class="notification">No new transactions were imported</p>
{{/if}}

<div class="transaction-list">
    <form action="/transactions/categorize" method="POST" encType="multipart/form-data">
        <div class="controls">
            <button class="button button-large" type="submit">Save</button>
            <a href="charts" class="button button-large">Charts</a>
            <a href="categories" class="button button-large">Categories</a>
            <button class="button button-large" type="button">Export</button>
        </div>
        <fieldset name="categories" class="transaction-table">
            <div class="header">
                <span>Date</span>
                <span>Reason</span>
                <span>Type</span>
                <span>Amount</span>
                <span>Category</span>
            </div>
            {{#each items}}
                <div class="transaction {{#unless Category}}un-categorized{{/unless}}">
                    <span>{{#formatDate Date}}{{/formatDate}}</span>
                    <span>{{Note}}</span>
                    <span>{{Direction}}</span>
                    {{#if In}}
                        <span>{{In}}</span>
                    {{else}}
                        <span>{{Out}}</span>
                    {{/if}}
                    {{> category_select categories=../categories current=Category identifier=_id}}
                </div>
            {{/each}}
        </fieldset>
        <script>
            $('.category-select')
                    .select2({
                        width: '100%',
                    });
        </script>
    </form>
</div>
</body>
</html>
