<html>
<head>
    <title>Transaction List</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<h1>This is a list of imported transactions</h1>

{{#if count}}
    <p>Imported {{count}} new transactions</p>
{{else}}
    <p>No new transactions were imported</p>
{{/if}}

<div class="transaction-list">
    <form action="transaction" method="POST" encType="multipart/form-data">
        {{#each items}}
            <div class="transaction-{{id}}">
                <span>Date: {{Date}}</span>
                <span>Direction: {{Direction}}</span>
                {{#if In}}
                    <span>Ammount: {{In}}</span>
                {{else}}
                    <span>Ammount: {{Out}}</span>
                {{/if}}
                {{> category_select categories=../categories}}
            </div>
        {{/each}}
    </form>
</div>
</body>
</html>
